.demo {
    margin: 50px;
}

.checkboxes {
  list-style: none;
}

.checkbox {
  position: relative;
  padding-left: 22px;
}

.checkbox:focus {
  outline: none;
}

.checkbox::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  position: absolute;
  left: 3px;
  top: 3px;
}

.checkbox:focus::before {
  outline: #2196F3 auto 5px;
}

.checkbox[checked]::after {
  content: '';
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAQAAAADpb+tAAAAaElEQVR4Xl3PIQoCQQCF4Y8JW42D1bDZ4iVEjDbxFpstYhC7eIVBZHkXFGw734sv/TqDQQ8Xb1udja/I8igeIm7Aygj2IpoKTGZnVRNxAHYi4iPiDlA9xX+aNQDFySziqDN6uSp6y7ofEMwZ05uUZRkAAAAASUVORK5CYII=);
  background-size: 100% 100%;
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 5px;
  top: 5px;
}
