.demo {
    margin: 50px;
}

button[aria-haspopup] {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    background-color: #EEE;
    background-image: linear-gradient(#FCFCFC, #EEE);
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    font-weight: bold;
    padding: 6px 10px;
}



button[aria-haspopup]::after {
    content: "";
    display: inline-block;
    margin-left: 3px;
    position: relative;
    top: 3px;
    border-color: black transparent transparent;
    border-width: 5px 4px;
    border-style: solid;
}
