*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 50px 0 0;
  background-color: #F0F0F0;
}

h1,
h2,
h3 {
  margin: 0;
}

h2,
h3 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: lighter;
}

body,
span,
p {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

p {
  margin: 0;
  line-height: 1.8;
  color: #757575;
}

a {
  text-decoration: none;
}

/* Helpers */

.offscreen {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

/* Buttons & Links */

.link,
.btn {
  display: inline-block;
  text-transform: uppercase;
  color: #23B9C9;
  letter-spacing: 3px;
  font-size: 14px;
  border: none;
  background: #FFF;
  padding: 16px 16px;
  width: 155px;
  height: 45px;
  line-height: 1;
}

.link_framed,
.btn_framed {
  box-shadow: inset 0px 0px 0px 3px #23B9C9;
}

.link_full,
.btn_full {
  color: #FFF;
  background: #23B9C9;
}

/* Content Wrapper */

.content-wrapper {
  display: flex;
  flex-direction: column;
}

/* Row */

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Card */

.card {
  position: relative;
  width: 380px;
  height: 480px;
  margin: 0 0 43px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #FFF;
}

.card__tag-wrapper {
  position: absolute;
  top: -22px;
  display: block;
  width: 100%;
  text-align: center;
}

.card__tag {
  display: inline-block;
  padding: 10px 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  background-color: #FFF;
  color: #757575;
}

.card__img {
  display: block;
}

.card__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}

.card__title {
  margin: 16px 0;
}

.card__description {
  text-align: center;
  margin: 12px 0;
}

/* Aside */

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside > *:not(:last-child) {
  margin-bottom: 30px;
}

/* Hot List */

.hot-list {
  width: 780px;
  margin: 0 auto;
  padding: 25px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #FFF;
}

.hot-list__header {
  margin-bottom: 15px;
}

/* List Post Wrapper */

.list-post-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* List Post */

.list-post {
  width: 350px;
  padding: 33px 0;
  border-bottom: 1px solid #D9D9D9;
}

/* Social Cards */

.social-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Social Card */

.social-card {
  width: 170px;
  height: 130px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background: #FFF;
  display: inline-block;
  margin-bottom: 17px;
}

.social-card:nth-of-type(1n+3) {
  margin-bottom: 0;
}

/* Subscribe Card */

.subscribe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px;
  background: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.subscribe-card__heading {
  text-align: center;
  margin-bottom: 40px;
}

.subscribe-card__field {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #D9D9D9;
  margin-bottom: 30px;
}

/* Breakpoints */

/* Tablet */

@media (min-width: 800px) {

  /* Row */

  .row {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .row .card:not(:last-of-type) {
    margin-right: 20px;
  }

  /* Hot List, Social Cards, Subscribe Card */

  .hot-list,
  .social-cards,
  .subscribe-card {
    width: 780px;
    margin: 0 auto;
  }

  /* Social Cards */

  .social-cards {
    flex-wrap: no-wrap;
  }

}

/* Desktop */

@media (min-width: 1190px) {

  /* Content Wrapper */

  .content-wrapper {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
  }

  /* Main */

  main {
    margin-right: 35px;
  }

  /* Card */

  .card {
    margin-bottom: 0;
  }

  /* Aside */

  aside {
    min-width: 357px;
    max-width: 357px;
    margin: 0;
  }

  /* Hot List */
  .hot-list,
  .social-cards,
  .subscribe-card {
    width: 100%;
  }

  /* List Post Wrapper */
  .list-post-wrapper {
    display: block;
  }

  /* List Post */

  .list-post {
    width: 100%;
  }

  /* Social Cards */

  .social-cards {
    flex-wrap: wrap;
  }

}
