[role=spinbutton] {
    border-radius: 2px;
    border: 1px solid #E2E2E2;
    margin: 2px;
    display: flex;
    background: white;
    width: 100px;
}

[role=spinbutton] .number {
    padding: 8px 0 8px 8px;
    flex: 1;
    color: #727272;
}

[role=spinbutton] .buttons {
    display: flex;
    flex-direction: column;
    width: 20px;
}

[role=spinbutton] button {
    background-color: white;
    border: none;
    border-left: 1px solid #E2E2E2;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    flex: 1;
}

[role=spinbutton] .add {
    border-bottom: 1px solid #E2E2E2;
    background-image: url(images/arrow-up.png);
}

[role=spinbutton] .subtract {
    background-image: url(images/down-arrow.png);
}
