.stars {
    display: flex;
    width: 100px;
}

.star {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(images/star-off.png);
    background-repeat: no-repeat;
    background-position: center;
}

.star.on {
    background-image: url(images/star-on.png);
}
